
<h2 chiru>Welcome to Angular {{title}}</h2>
<!--<app-chiru></app-chiru>
<app-interpolation-binding></app-interpolation-binding> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-class-style-binding></app-class-style-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-attr-dirs-binding></app-attr-dirs-binding> -->
<!-- <app-predefined-pipes></app-predefined-pipes> -->
<app-products></app-products>

<!-- <app-parent></app-parent> -->
<!-- <app-first></app-first>
<app-second></app-second> -->
<!-- <app-productsasync></app-productsasync> -->