<pre>
Name: {{myName}}
Lowercase Name: {{myName | lowercase}}
Uppercase Name: {{myName | uppercase}}
MyUppercase Name: {{myName | mytitlecase}}


Titlecase Name: {{myName | titlecase}}
Amount: {{amount | currency}}
Amount: {{amount | currency:'USD':true}}
Amount: {{amount | currency:'USD':false}}
Amount: {{amount | currency:'EUR'}}
Amount: {{amount | currency:'AUD'}}
Date: {{myDate | date}}
Date: {{myDate | date:'fullDate'}}
Date: {{myDate | date:'shortDate'}}
Date: {{myDate | date:'dd/MM/yyyy hh:mm:ss'}}
Date: {{myDate | date:'MM/dd/yy hh:mm:ss'}}
JSON: {{product | json}}

</pre>